@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background-image: linear-gradient(45deg, lightblue 0%, rgb(231, 151, 231) 100%);
    font-family: 'poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    text-align: center;

}

h1 {
    font-size: 5rem;
    color: rgb(170, 70, 170);
    opacity: 0.5;
    text-transform: capitalize;
}

form {
    box-shadow: 0 0.5rem 1rem black;
    max-width: 100%;
    width: 40rem;
    border-radius: 0.5rem;
}

.entrada {
    border: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem 0.5rem 0 0;
    outline: none;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
    color: gray;
}

.entrada:focus {
    background-color: rgb(205, 205, 205);
}

.entrada:hover{
    background-color:  rgb(205, 205, 205);
    transition: background 0.3s ease-in-out;
}

.entrada::placeholder {
    color: beige;
}

.tarefas {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0.2rem 1rem;
    color: black;
    cursor: pointer;
    text-align: left;
}

.tarefas li {
    font-size: 1.4rem;
}

.tarefas li.completada {
    text-decoration: line-through;
    opacity: 0.3;
}

small {
    color: gray;
    font-style: italic;
    font-size: 1rem;
}